PyYAML
pymunk>=6.0.0
numpy
scikit-image
Pillow
pytest
opencv-contrib-python==4.5.5.64
matplotlib
setuptools
-e git+https://github.com/emmanuel-battesti/simple-playgrounds.git@place-bot#egg=spg
#-e /home/battesti/projetCompetRobotsDGA/simple-playgrounds
#simple-playgrounds
#spg
fpdf
pandas
pathlib2
gym
arcade
tripy
# team 08
cython
networkit
numba
torch
shapely
